/* Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* Primary Colors */
  --primary-100: #d0f5df;
  --primary-200: #a1ebbf;
  --primary-300: #72e0a0;
  --primary-400: #43d680;
  --primary-500: #14cc60;
  --primary-600: #10a34d;
  --primary-700: #0c7a3a;
  --primary-800: #085226;
  --primary-900: #042913;
  /* Grey Colors */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* Fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.8rem;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  /* Rest Of Vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1170px;
  --fixedWidth: 600px;
  /* Box Shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  /* margin-bottom: 1.38rem; */
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.75rem;
  }
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* img:not(){
} */

/* Section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--maxWidth);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* Buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}

.btn-hipster:hover {
  color: var(--primary-500);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* Alerts */
.alert {
  padding: 0.375rem 0.75rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* Form */
.form {
  width: 90vw;
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* Loading Spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

.loading {
  margin: 0 auto;
}

/* Title */
.section-title {
  text-align: center;
}

.section-title h2 {
  margin-bottom: 0.25rem;
}

.section-title .underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
}

.back-btn {
  margin-left: 1rem;
  text-transform: capitalize;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  background: #333;
  border: none;
  color: var(--white);
  box-shadow: var(--shadow-4);
  position: fixed;
  top: 8.5rem;
  z-index: 1;
}

@media screen and (min-width: 446px) {
  .back-btn {
    top: 4.5rem;
  }
}

@media screen and (min-width: 800px) {
  .back-btn {
    top: 5.7rem;
  }
}

.heading {
  text-align: center;
  background: #333;
  color: var(--white);
  margin-bottom: 0;
  padding: 0 0.3rem;
  box-shadow: var(--shadow-4);
  z-index: 1;
}

.fixed-heading {
  position: fixed;
  width: 100%;
}

.recipe-developer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  padding-top: 10px;
}

.recipe-developer-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  opacity: 0.8;
  padding: 0.375rem 0.75rem;
}

.recipe-developer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

/* THIS WAS THE WAY I WAS DOING IT BUT HAD TO SWITCH TO USING INLINE STYLES BECAUASE IT WASN'T WORKING IN NETLIFY */
/* .recipe-category-container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('src/img/app/recipe-category-hero.jpg') no-repeat;
} */

.recipe-category-list {
  margin: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-category-list li {
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 2rem;
  text-transform: capitalize;
}

.recipe-list {
  min-height: 100vh;
  padding-bottom: 2rem;
}

.category-heading {
  text-align: center;
  color: var(--white);
  letter-spacing: 1px;
  width: fit-content;
  padding: 0.375rem 0.75rem;
  margin: 0 auto;
  opacity: 0.8;
  margin-bottom: 1rem;
  padding-top: 8.5rem;
}

@media screen and (min-width: 446px) {
  .category-heading {
    padding-top: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .category-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .recipe-list-back-btn {
    margin-top: 6rem;
  }
  .category-heading {
    padding-top: 5.5rem;
  }
}

.category-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--white);
  cursor: pointer;
  box-shadow: var(--shadow-4);
  margin-bottom: 1rem;
  border: 2px solid var(--white);
  border-radius: var(--borderRadius);
}

.category-img {
  height: 100%;
}

.category-item-info {
  padding: 1rem;
}

.category-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category-item-list li {
  text-transform: capitalize;
  background: #333;
  padding: 0.175rem 0.75rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
}

.category-item-text {
  font-size: 1rem;
  margin-bottom: 0;
}

.single-recipe-back-btn {
  position: absolute;
  cursor: pointer;
}

.single-recipe-img-data {
  position: relative;
}

.single-recipe-img {
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
  max-height: 500px;
  max-width: 1000px;
  margin: 0 auto;
}

.single-recipe-float {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background: var(--white);
  box-shadow: var(--shadow-4);
  text-align: center;
  border-radius: 3.5rem;
}

.single-recipe-float-ingredients-length {
  margin-right: 0.3rem;
  font-weight: bold;
}

.single-recipe-icons {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.single-recipe-icons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.single-recipe-info {
  margin-top: 6.5rem;
}

@media screen and (min-width: 440px) {
  .single-recipe-icons-item {
    flex-direction: row;
  }
}

@media screen and (min-width: 564px) {
  .single-recipe-heading,
  .single-recipe-text {
    text-align: center;
  }
}

.single-recipe-heading {
  font-weight: bold;
}

.single-recipe-data {
  display: flex;
  gap: 0.4rem;
  overflow-x: scroll;
  text-align: center;
  margin: 1rem auto;
  max-width: fit-content;
}

.single-recipe-data li {
  box-shadow: var(--shadow-4);
}

.single-recipe-data-img {
  height: 80px;
  width: 122px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.single-recipe-data-info {
  background: #333;
  color: var(--white);
  padding: 0.175rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  line-height: 1.2rem;
  height: 80px;
  width: 122px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.single-recipe-instructions {
  background: #333;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-shadow: var(--shadow-4);
  color: var(--white);
  font-weight: bold;
  box-shadow: var(--shadow-4);
}

.single-recipe-text {
  margin: 0 auto;
}
